.jpui-secure{
    text-align:right;
   
}
.jpui-marketing-header{
    background-image:url('../img/bar_bg.png');
    background-color:#cccccc;
    height: 47px;
    display: block;
    clear: both;
    background-position: right;
    color:#FFF;
}